*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  overflow: hidden;
 font-size: 0.2rem !important;
  font-family: be Vietnam ,sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


